.idle-screen-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: calc(4 * var(--max-w-xl) / 3);
  text-align: center;
}

.idle-subtitle {
  font-family: var(--font-mono);
  font-size: var(--font-size-xs);
  text-transform: uppercase;
  letter-spacing: 0.3em;
  color: var(--color-primary);
  --blur-size: 6px;
}

.idle-title {
  margin-top: var(--space-2);
  font-family: var(--font-sans);
  font-size: var(--font-size-4xl);
  font-weight: var(--font-weight-semibold);
  letter-spacing: -0.025em;
  line-height: 0.8;
}

@media (min-width: 768px) {
  .idle-title {
    font-size: calc(var(--font-size-2xl) * 2);
  }
}

.idle-title-highlight {
  color: var(--color-primary);
}
